.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
}

.titulo1 {
    text-align: center;
    color: #ff0000;
    font-size: 42px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

.titulo-formulario {
    text-align: center;
    color: red;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.text-center {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    margin: 0 10px;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border: none;
}

.btn-success {
    background-color: #ff0000;
    font-weight: bold;
    color: white;
    border: none;
}
body {
    background-image: url('https://wallpapersok.com/images/hd/monochrome-lawyer-scales-ouqsj5h0cf9421u8.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}